<p>First of all, I really appreciate  the hiring process which lets me showing my technical & behavioral skills.</p>

<p>Secondly, I'm a real fan of <strong class="gradient-text-color">Aubay Training Academy</strong> because I consider myself as an app so I regularly update my knowledge.</p>

<p>Thirdly, I like the fact that <strong>Aubay Portugal is involved in Open Source</strong>. Maybe I'm wrong but it's the only Aubay subsidiary present on <strong class="gradient-text-color"><a target="_blank"  href="https://github.com/aubaypt">GitHub</a></strong>. It demonstrates how special Aubay Portugal is ! I can't wait to contribute to Aubay Portugal projects <strong class="gradient-text-color"> <a target="_blank"  href="https://github.com/fanjups">as I do on my GitHub profile</a> </strong> !</p>

<p>Last but not least, <strong class="gradient-text-color">Aubay Cares and Outdoor</strong> are important tools that create a suitable environment where we think outside the box of office and stay in great shape.</p>

<p>Everyday, I dream about being an <strong class="gradient-text-color">AUBILOUS</strong>.</p>
